.work-together {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #020617;
    color: #f8fafc;
    padding: 40px 20px;
    text-align: center;
}

.bg-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 600px;
}

.title {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
}

.content {
    font-size: 1.1rem;
    color: #94a3b8;
    line-height: 1.6;
    max-width: 450px;
}

.work-btn {
    display: inline-block;
    padding: 8px 0px;
    border: 1px solid #FFFF;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.work-btn a {
    text-decoration: none;
    padding: 10px 18px;
    color: #FFFF;
    font-size: 1rem;
    transition: 0.3s ease;
}
.work-btn:hover{
    background-color: #FFFF;
    border: 1px solid #020617;
    box-shadow: 3px 3px 0px #f8fafc;
    transform: scale(1.02)
}

.work-btn:hover a{
    color: #020617;
}